@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.link {
  display: inline-block;
  padding: 1em 1.5em;
  border-radius: 1em;
  background: var.$brand_color;
  color: var.$light_text_color;
  width: 100%;
  height: 100%;
  text-align: center;

  &.text {
    transition: background 0.15s ease-in-out;

    @include mix.OnlyPc {
      &:hover {
        background: var.$brand_color_700;
      }
    }
  }

  &.node {
    display: flex;
    align-items: center;
    gap: 0.5em;
    transition: gap 0.15s ease-in-out, padding 0.15s ease-in-out,
      background 0.1s ease-in-out;

    svg {
      font-size: 1.3em;
    }

    @include mix.OnlyPc {
      &:hover {
        background: var.$brand_color_600;
        gap: 1em;
        padding: 1em calc(1.5em - (0.5em / 2));
      }
    }
  }
}
