@use "@/styles/_dirs/variables" as var;

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 400px;
  width: 100%;

  .form_input {
    display: flex;
    flex-direction: column;
    gap: 0.25em;

    label {
      font-weight: bold;

      .required {
        color: var.$brand_color_900;
      }
    }
  }

  .form_forgot {
    text-align: end;
    font-size: 0.95em;
    color: var.$brand_color_900;
    margin-top: 0.25em;
  }

  .form_err {
    p {
      color: var.$support_color_err;
      text-align: center;
    }
  }
}
