@use "@/styles/_dirs/variables" as var;

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-top: 1px solid var.$neutral_color_200;
  padding-top: 1em;
  width: 100%;

  legend {
    color: var.$brand_color_900;
    font-size: 1.5em;
  }

  &_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .form_input {
    display: flex;
    flex-direction: column;
    gap: 0.25em;

    label {
      font-weight: bold;
      color: var.$brand_color_900;

      .required {
        color: var.$brand_color_900;
      }
    }
  }

  .form_err {
    p {
      color: var.$support_color_err;
      text-align: center;
    }
  }

  &_button {
    max-width: 200px;
    width: 100%;
  }
}
