@use "@/styles/_dirs/variables" as var;

.loading {
  height: 100%;
  width: 100%;
  border: 2px solid var.$darkest_color;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: .5s ease-in-out infinite spin;

  @keyframes spin {
    0%,
    30% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
