@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.button {
  border: 1px solid var.$neutral_color_500;
  border-radius: 50%;
  background: transparent;
  padding: 0.45em;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  text-align: center;

  svg {
    display: block;
    color: var.$neutral_color_500;
    font-size: 0.95em;
    transition: 0.15s ease-in-out;
  }

  @include mix.OnlyPc {
    &:hover {
      background: var.$brand_color;
      border-color: var.$lightest_color;

      svg {
        color: var.$lightest_color;
      }
    }
  }

  &.loading {
    animation: 1.5s infinite heartbeat;

    @keyframes heartbeat {
        0%, 14%, 28%, 42%, 100% {
          transform: scale(1);
        }
        7%, 21%, 35% {
          transform: scale(1.3);
        }
      }
      
  }

  &.favorite {
    border-color: var.$brand_color_900;

    svg {
      fill: #f00;
    }
  }
}
